.footer-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.footer__left {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  margin-bottom: 24px;
}

.footer__motto {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: white;
  margin-bottom: auto;
  max-width: 303px;
}

.footer__copyright {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: rgba(255,255,255,0.5);
}

.footer__right {
  display: flex;
}

.footer__links-1 {
  margin-right: 212px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.links__title {
  font-size: 24px;
  font-weight: 700;
  color: #fbd784;
  margin-bottom: 24px;
}

.links__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.links__link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  opacity: 0.8;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }
}
