.hero {
  position: relative;
  overflow: hidden;
  min-height: 1900px;

  background:
    url("/img/background/hill.png") center 840px no-repeat,
    url("/img/background/mountains.png") center 527px no-repeat,
    url("/img/background/clouds.png") center 0px no-repeat;

  background-size: 100% auto;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      330.24deg,
      rgba(11, 29, 38, 0) 31.06%,
      rgba(11, 29, 38, 1) 100%
    );
    z-index: 1;
  }
}

.hero__content {
  position: relative;
  z-index: 3;
}

.hero a {
  color: white;
}

.hero__content {
  position: absolute;
  z-index: 3;
  top: 60px;
  bottom: 60px;
  left: 80px;
  right: 80px;
  pointer-events: all;
}

.hero__socials {
  position: absolute;
  top: 359px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  span {
    writing-mode: vertical-rl;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    color: white;
  }
}

.hero__text {
  position: absolute;
  top:287px;
  left: 25%;

  .tagline {
    margin-bottom: 32px;
  }
}

.hero__title {
  font-family: Chronicle-Display;
  font-size: 88px;
  font-weight: 600;
  line-height: 100px;
  color: white;
  width: 950px;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.hero__scroll-down {
  color: white;
  font-size: 18px;
  line-height: 100%;
  font-weight: 700;
  display: flex;
  align-items: center;
  position: relative;
  display: inline-flex;

  span {
    margin-right: 16px;
  }

    &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    bottom: -4px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  &:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}
