.main-content {
  position: relative;
  margin-top: -676px;
  padding-top: 240px;

    &::before {
    content: "";
    position: absolute;
    height: 700px;
    background: linear-gradient(
      180deg,
      rgba(11, 29, 38, 0) 0%,
      rgba(11, 29, 38, 1) 61.38%
    );
    z-index: 0;
    width: 100%;
    top: 20px;
  }
}

.main-content__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 200px;
  counter-reset: section;
  max-width: 1462px;
  margin: 0 auto;
  padding-bottom: 120px;
  padding-top: 240px;
}

.main-content__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  counter-increment: section;

  &::before {
    position: absolute;
    top: 50px;
    left: 0;
    font-size: 240px;
    font-weight: 700;
    line-height: 240px;
    color: rgba(255, 255, 255, 0.1);
    content: "0" counter(section);
  }
}

.main-content__item-info {
  max-width: 632px;
  display: inline-block;
  margin-left: 150px;

  .tagline,
  h3 {
    margin-bottom: 27px;
  }

  h3 {
    color: white;
  }
}

.main-content__item-title {
  max-width: 555px;
}

.main-content__item-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 27px;
  color: white;
}

.main-content__read-more {
  color: #fbd784;
  font-size: 18px;
  line-height: 100%;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fbd784;
    bottom: -4px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  &:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

  span {
    margin-right: 16px;
  }
}

.main-content__item.gear {
  flex-direction: row-reverse;

  &::before {
    left: auto;
    right: 507px;
  }
}

.main-content__bg {
  position: absolute;
  background: #0B1D26;
  height: calc(100% - 626px);
  width: 100%;
  top: 617px;
  z-index: 0;
}
