.stats {
  position: relative;
  top: -30px;
  z-index: 100;

  @media (max-width: 1439px) {
    top: 0px;
    margin-top: 30px;
  }

  @media (max-width: 767px) {
    top: -43px;
    margin-top: unset;
  }
}

.stats__list {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 54px 0;
  box-shadow: -2px 2px 20px 0px rgba(66, 66, 66, 0.15);
  background-color: white;

  @media (max-width: 1439px) {
    max-width: 641px;
    padding-top: 9px;
    padding-bottom: 20px;
    box-shadow: -2px 2px 5px 0px #43566420, -1px 1px 2px 0px #43464A00;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    max-width: 180px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.stats__item {
  text-align: center;

  @media (max-width: 767px) {
    display: flex;
    gap: 25px;
    align-items: center;
  }
}

.stats__value {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
  color: $basic-green;
  font-size: 40px;
  line-height: 45px;

  @media (max-width: 1439px) {
    font-size: 25px;
    margin-bottom: 7px;
  }

  @media (max-width: 767px) {
    font-size: 17px;
    margin-bottom: unset;
  }
}

.stats__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  color: $text;

  @media (max-width: 1439px) {
    font-size: 13px;
    line-height: 15px;
  }

  @media (max-width: 767px) {
    font-size: 8px;
    line-height: 10px;
  }
}
