@import "vendor/normalize";
@import "common/mixins";
@import "common/fonts";
@import "common/variables";

/* BLOCKS */
@import "blocks/header";
@import "blocks/nav";
@import "blocks/figures";
@import "blocks/courses";
@import "blocks/about";
@import "blocks/training";
@import "blocks/models";
@import "blocks/master-classes";
@import "blocks/why-us";
@import "blocks/offers";
@import "blocks/callback";
@import "blocks/footer";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

// h3 {
//   font-family: Chronicle-Display;
//   font-size: 64px;
//   font-weight: 600;
//   line-height: 100%;
// }
